body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}
header {
    background-color: #d32f2f;
    color: white;
    padding: 7px;
    font-size: 18px;
    height: 70px;
}
header h1{
    text-align: center;
}
.hero {
    text-align: center;
    padding: 50px;
    color:black;
}
.order-btn {
    padding: 10px 20px;
    background: #E31837; 
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    font-size: 16px;
}
.order-btn:hover {
    background: #c9142f;
}
.featured {
    padding: 8px;
    text-align: center;
}
.carousel {
    display: flex;
    gap: 20px;
    justify-content: center; 
    flex-wrap: wrap;
    padding: 15px;
}
.pizza-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    width: 320px;
    height: 420px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pizza-card img {
    width: 100%;
    height: 260px; 
    object-fit: cover;
    border-radius: 8px;
}
.pizza-card h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}
.pizza-card p {
    font-size: 14px;
    color: #777;
}
.pizza-card .order-btn {
    margin-top: auto; 
    width: 100%;
    text-align: center;
}
.pizza-card:hover {
    transform: scale(1.05);
}
.map-section {
    text-align: center;
    margin: 20px 0;
}
.map-image {
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.map-image:hover {
    transform: scale(1.05);
}
footer {
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
    font-size: 14px;
}
