body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    text-align: center;
}
header {
    background: red;
    color: white;
    padding: 15px;
    text-align: center;
    height: 70px;
}
.hero {
    padding: 50px;
    color:black;
}
.order-btn {
    background: red;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
.order-btn:hover {
    background: darkred;
}
.food-items {
    padding: 30px;
    background: #fff;
}
.food-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.food-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    width: 250px;
    height: 370px;
}
.food-card img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}
.food-card:hover {
    transform: scale(1.05);
}
.map {
    padding: 20px;
    background: #fff;
}
.map a img {
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.map a img:hover {
    transform: scale(1.05);
}
footer {
    background: #222;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
